/* Styling for the Giveaway Page */
body.giveaway {
    >div.header {
        background: black url('/images/contest-bg.jpg') no-repeat center top;
        border-top: 0;

        article.giveaway {
            padding: 40px 0;

            h2 {
                color: white;
                color: rgba(255, 255, 255, 0.75);
                font-weight: 600;
            } 
            h1 {
                color: white;
                font-size: 42px;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
            }
            p.instructions {
                float: left;
                color: white;
                font-size: 16px;
                line-height: 18px;
            }

            div.title {
                position: relative;
            }

            div.follow {
                color: white;
                color: rgba(255, 255, 255, 0.75);
                text-align: right;
                line-height: 46px;
                font-size: 16px;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 0;

                a.social {
                    display: block;
                    float: right;
                    height: 46px;
                    width: 46px;
                    margin: 0 0 0 6px;
                    border-radius: 23px;
                    background: #9d9c9b url('/images/social-bugs.png') 0px 0px no-repeat;
                    &.twitter {
                        background-position: 0px 0px;
                        &:hover {
                            -ms-background-position: 0px -46px;
                            background-position: 0px -46px;
                        }
                    }
                    &.facebook {
                        background-position: -46px 0px;
                        &:hover {
                            -ms-background-position: -46px -46px;
                            background-position: -46px -46px;
                        }
                    }
                    &.newsletter {
                        background-position: -92px 0px;
                        &:hover {
                            -ms-background-position: -92px -46px;
                            background-position: -92px -46px;
                        }
                    }
                    &:hover {
                        background-color: $blue;
                        @include transition();
                    }
                }
            }
        }
    }
}

article.giveaway {
    padding: 20px 0;

    >.left {
        float: left;
        width: 710px;

        >p {
            color: #202020;
            font-weight: 300;
        }
    }
    >.right {
        border-left: 1px solid #e0e0e0;
        float: right;
        margin: 0 0 0 30px;
        min-height: 500px;
        padding: 0 0 0 30px;
        width: 329px;

        >.step {
            margin: 0 0 26px;
            overflow: auto;

            >h3 {
                color: #606060;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                text-transform: uppercase;
            }
            >p {
                color: #202020;
                font-weight: 300;
                margin: 2px 0;
            }
            strong {
                font-weight: 600;
            }
            .check {
                background: $green;
                border-radius: 15px;
                color: white;
                display: inline-block;
                font-size: 30px;
                height: 30px;
                line-height: 30px;
                margin: 0 6px 0 0;
                text-align: center;
                width: 30px;
                float: left;
            }
            .required {
                background: #c0c0c0;
                border-radius: 15px;
                color: white;
                display: inline-block;
                font-size: 30px;
                font-weight: 600;
                height: 30px;
                line-height: 30px;
                margin: 0 6px 0 0;
                text-align: center;
                width: 30px;
                float: left;
            }
            input[type="text"] {
                border: 2px solid $blue;
                border-radius: 3px 0 0 3px;
                border-right: 0;
                font-size: 14px;
                margin: 6px 0 0;
                outline: none;
                padding: 8px 10px;
                width: 240px;
                height: 18px;
            }
            input[type="submit"] {
                background: $blue;
                border: 0;
                border: 2px solid $blue;
                border-radius: 0 3px 3px 0;
                color: white;
                font-size: 14px;
                margin: 0;
                padding: 8px 10px;
                height: 38px;

                &:hover {
                    cursor: pointer;
                    background: black;
                    border-color: black;
                }
            }
            #add-to-watchlist,
            #go-to-library {
                background: $blue;
                border-radius: 3px;
                color: white;
                display: inline-block;
                margin: 6px 0 0;
                padding: 8px 10px;

                &:hover {
                    background: black;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            a.steam {
                background: url('/images/steam-openid-login-custom.png') no-repeat center 0px;
                display: block;
                width: 210px;
                height: 90px;

                &:hover {
                    background-position: center -90px;
                }
            }
            a.privacy {
                margin-left: 14px;
                font-size: 13px;
            }
        }
    }
    >.left,
    >.right {
        h2 {
            color: #505050;
            display: inline-block;
            font-size: 28px;
            font-weight: 300;
            margin: 0 0 20px;
        }
        h3 {
            color: #505050;
            display: inline-block;
            font-size: 22px;
            font-weight: 300;
            margin: 0 0 10px;
        }
        a.rules {
            color: #808080;
            display: inline-block;
            float: right;
            margin: 20px 0 0;
            text-transform: uppercase;
        }
    }

    div.info {
        border: 1px solid #e0e0e0;
        padding: 20px;
        margin: 0 0 30px;
        background: #e6e6e6;

        a.thumb {
            display: block;
            float: left;
            margin-right: 14px;
            position: relative;

            img {
                border: 4px solid white;
            }
        }
        h1 {
            @include game-title();
            font-size: 26px;
            display: block;
            width: 385px;
            float: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-top: -4px;
        }
        div.details {
            float: left;

            p.price {
                float: left;
                margin: 12px 10px 12px 0;
                font-size: 26px;
                font-weight: 600;
                @include number-font();

                span {
                    color: #909090;
                    font-weight: 300;
                }
                del {
                    color: #909090;
                    font-size: 22px;
                    font-weight: 300;
                    padding-left: 6px;
                }
                .ruble-sign {
                    background-image: url('/images/region-ru/ruble-medium-black.png');
                    height: 21px;
                    line-height: 22px;
                    width: 18px;
                }
            }
            a.steam,
            a.watchlist {
                border-radius: 4px;
                color: #ffffff;
                cursor: pointer;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: normal;
                display: block;
                float: left;
                margin: 14px 8px 14px 0;
                @include sans();
                @include linear-gradient(top, lighten($green, 10%) 0%, $green 90%);

                &:hover {
                    background: #000;
                    text-decoration: none;
                }
            }
            a.on {
                background: #a9a9a9;
            }
            p.genre,
            p.release {
                font-size: 13px;
                strong {
                    font-weight: 600;
                    margin-right: 4px;
                }
                span {
                    color: #666;
                    margin-left: 10px;
                }
            }
        }
    }

    .giveaway-rules {
        border-top: 1px solid #e0e0e0;
        margin: 30px 0 0;
        padding: 30px 0;

        h3 {
            font-weight: 400;
            margin: 0 0 6px;
            color: #606060;
        }
        li, p {
            font-size: 13px;
            font-weight: 300;
            color: #303030;
            font-style: italic;
        }
    }

    #timer {
        margin: 40px 0 40px 80px;
        overflow: auto;

        >.label {
            color: #606060;
            float: left;
            font-size: 14px;
            margin: 20px 10px 20px 0;
            text-transform: uppercase;
        } 
        >.days,
        >.hours,
        >.minutes,
        >.seconds {
            float: left;
            width: 70px;

            >.count {
                @include number-font();
                color: $green;
                font-size: 40px;
                text-align: center;
            }
            >.label {
                color: #808080;
                font-size: 13px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        >.separator {
            color: #c0c0c0;
            float: left;
            font-size: 36px;
            margin: 0 6px;
        }
    }
}
