/* Styling for the payment thank you page. */
div.header {
    article.thank-you {
        padding: 20px 0;
    }
}

div.container {
    article.thank-you {
        padding: 40px 0;
       
        p {
            margin: 12px 0;
        }

        h2 {
            font-weight: normal;
        }
 
        a {
            @include button(simple, #799b10);
            font-size: 16px;
        }
    }
}
