{% extends "gamestradamus/base.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block description %}Learn how your personal information is used by Gauge.{% endblock %}

{% block header %}
    <article class="privacy">
        <div class="title">
            <h1>Privacy Policy</h1>
            <p class="data"></p>
            <p class="instructions">
                <strong>Last modified:</strong>&nbsp;July 26th, 2013
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="privacy">
        <p>
            This document outlines gaugepowered.com's privacy policy with regard to any personal information
            that is collected through usage of its services. We have created this policy pursuant to the
            Personal Information Protection Act (Alberta) S.A. 2003, c.P-6.5 and
            the Personal Protection and Electronic Documents Act (Canada) S.C. 2000 C.5.
        </p>
        <p>
            This site is operated by Structured Abstraction Inc. ("STRABS") and may be accessed in Canada and abroad.
             By using the site you consent to the collection, use and disclosure of your personal information in accordance with this policy.
        </p>

        <h2>Privacy Officer</h2>
        <p>
            We have assigned a privacy officer at STRABS to be accountable for our policies and practices with respect to this policy.
            You may send any questions, comments or complaints that you may have about this privacy policy to:
        </p>
        <p>
            Leonard Nooy<br>
            Structured Abstraction Inc.<br>
            422 19th St NW<br>
            Calgary, AB T2N 2J1<br>
            Canada
        </p>
        <p>
            Or by email to:&nbsp;<a href="mailto:privacy@gaugepowered.com">privacy@gaugepowered.com</a>
        </p>

        <h2>Collection of Personal Information</h2>
        <p>
            By using the site you will have the opportunity to provide personal and non-personal information to STRABS. We will collect non-personal information
            related to your viewing and browsing habits when using the site, such as browser type, operating system, access times, which pages you
            viewed, the links you clicked, and other actions taken on the site.
        </p>

        <p>
            <strong>The personal information we collect includes:</strong>
            <ul>
                <li>information needed to send you e-mail notifications.</li>
                <li>information related to your Steam account. Specifically your profile ID, nickname, and information about your game library including, which games you own, your play time and your achievements.</li>
                <li>additional information related to your Game Library in the form of ratings, hours played and purchase amounts.</li>
                <li>information collected when paying for services including your credit card number and billing address.</li>
            </ul>
        </p>

        <p>
            We only collect personal information about you after you have provided us with your consent to collect that information. You may choose not to provide
            personal information, but by doing so, certain services may not be available to you.
        </p>

        <h2>Use of Your Personal Information</h2>
        <p>
            STRABS collects and uses your personal information to:
            <ul>
                <li>provide content that is customized to your interests and preferences.</li>
                <li>send you e-mail notifications if you so request.</li>
                <li>provide aggregate data to other users on the site.</li>
                <li>perform research aimed at improving our products, services and technologies.</li>
                <li>process your transactions.</li>
            </ul>
        </p>

        <p>
            Personal information collected by STRABS may be stored and processed in Canada or any other country in which a third-party
            service provider maintains facilities, and by providing us with your personal information and using the site, you
            consent to any such transfer of information outside of your country.
        </p>

        <h2>Disclosing Your Personal Information</h2>
        <p>
            STRABS will not disclose or sell your personal information to third parties, except as outlined in this privacy policy.
        </p> 
        <p>
            We may disclose your personal information to third-party service providers who perform services on our behalf. These include,
            processing payments, data storage, site hosting, conducting audits, etc. Third parties who obtain access to your personal
            information will only be given access to the personal information needed to provide their services. We also require
            that third parties protect your personal information using policies similar to ours and shall be prohibited from 
            using your personal information for any purpose other than the service provided.
        </p>
        <p>
            We may disclose rating information that you have provided about your Game Library to other users of the site.
        </p>
        <p>
            Your personal information may be disclosed as part of any merger, acquisition or sale of the company and/or its assets. We
            may also disclose your personal information in the unlikely event of insolvency or bankruptcy. We reserve the right to disclose
            your personal information if required to do so by law.
        </p>

        <h2>Consent of Your Personal Information</h2>
        <p>
            By submitting personal information to us, you consent to the collection, use and disclosure practices outlined in this
            Privacy Policy as they relate to your personal information.
        </p>

        <h2>Accessing Your Personal Information</h2>
        <p>
            You may review and update the personal information that you have previously provided to us by viewing it on the site. You
            will be required to sign into your account to view or update your personal information. 
        </p>

        <h2>Use of Cookies and Other Technologies</h2>
        <p>
            STRABS uses Cookies to enhance your experience while using the site. We use Cookies to provide the following conveniences:
            <ul>
                <li>They allow us to identify registered users when they return to the site, reducting the need to repeatedly enter the same information.</li>
                <li>Cookies allow us to deliver personalized content to you.</li>
                <li>Cookies remember your preferences when using the site.</li>
            </ul>
        </p>
        <p>
            We also work with third-party providers who use Cookies on our site to:
            <ul>
                <li>Measure and analyze usage and volume statistics from the users on our site. Information gathered may include,
                    activity of users, browser and system information, and when pages were accessed.
                    We collect this information to help provide stable and secure services.</li>
                <li>Evaluate user traffic and behaviour on the site to compile activity reports for our internal use.</li>
                <li>Identify users arriving at the site via a referral from an affiliate website or sponsored link.</li>
            </ul>
            This privacy policy only covers the collection of information and use of Cookies by STRABS. It does not cover
            the use of Cookies or other technologies by third parties to collect information.
        </p>

        <h2>Security of Your Personal Information</h2>
        <p>
            The security of your personal information is important to us. We follow generally accepted industry standards to help protect your personal information including without limitation:
            <ul>
                <li>limiting access to your personal information to the employees who require it to provide services to you.</li>
                <li>storing your personal information in secure computer systems which protect it from unauthorized access or use.</li>
                <li>encrypting all communications with the site by using secure socket layer (SSL) technology.</li>
                <li>ensuring that third-party service providers have equivalent policies and practices related to handling your personal information.</li>
            </ul>
            Unfortunately, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while
            we strive to protect your personal information, we cannot guarantee its absolute security.
        </p>
        <p>
            We do not store credentials associated with your account. We use OpenID technology to allow you 
            to access your personal information stored on the site by signing in through Steam. It is your responsibility to protect
            your Steam credentials and recognize a failure to do so may allow others to access your personal information stored 
            on the site.
        </p>

        <h2>Changes to This Privacy Policy</h2>
        <p>
            From time to time we may make modifications to this policy. When we make changes, we will announce 
            to you on the site, that changes have been made and provide a history of previous versions of this policy. 
        </p>
        
    </article>
{% endblock %}
