<div class="dropdown {{ column_color }}">
    <div class="primary"><em>▾</em></div>
    <div class="options">
        <div class="sub-dropdown">
            <div class="use"></div>
            <div class="primary"><span>Your Library</span><em>▾</em><div class="clear"></div></div>
            <div class="options">
                <a title="Cost" data-spectrum="Library/Cost">Cost</a>
                <a title="Hours" data-spectrum="Library/Hours">Hours</a>
                <a title="Enjoyment" data-spectrum="Library/Enjoyment">Enjoyment</a>
                <a title="Finished" data-spectrum="Library/Finished">Finished</a>  
                <a title="Genre" data-spectrum="Steam/Genre">Genre</a>
            </div>
        </div>

        <hr>
        <div class="sub-dropdown">
            <div class="use"></div>
            <div class="primary"><span>Tag Groups</span><em>▾</em><div class="clear"></div></div>
            <div class="options">

            {% for group in tag_groups %}
                {% if group.name %}
                    <a title="{{ group.name }}" data-spectrum="Tag/{{ group.name }}">{{ group.name }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
